.app {
  margin: 100px auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.upload {
  width: 400px;
  margin: 0 auto;
}

.fusionBtn {
  margin: 50px 200px;
}

.loading {
  width: 200px;
  margin: 0 auto;
}

.result {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: '#F9F8F4';
}

.resultImg {
  width: 300px;
  height: 300px;
}
