.displayFullScreen {
  width: 100%;
  height: 100%;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.homePage {
  width: 100%;
  height: 100%;
}
.bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}
.loading {
  position: absolute;
  top: 82%;
  width: 100%;
  text-align: center;
}
.footerTool {
  position: absolute;
  top: 82%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadBtn {
  width: 43%;
  height: 4.3em;
  background: black;
}
.upload {
  width: 43%;
  margin: 0 4.1em;
  height: 4.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 1.9em;
  box-shadow: inset 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.innerUpload {
  height: 4.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadText {
  font-family: none;
  font-size: 20px;
  color: rgba(17, 17, 17, 0.6);
  font-weight: bolder;
}
.uploadIcon {
  width: 20px;
  height: 20px;
  margin-left: .8em;
}
.isUploading {
  margin-left: .8em;
}
.ant-upload-list-item {
  display: none;
}
.hint {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hintImg {
  width: 100%;
}
@media screen and (max-width: 320px) {
  .backIcon {
    width: 13px;
    height: 22px;
  }
  .uploadText {
    font-family: none;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.6);
    font-weight: bolder;
  }
  .uploadIcon {
    width: 16px;
    height: 16px;
  }
  .upload {
    width: 40%;
    height: 3.5em;
    background-color: #FFF;
    border-radius: 1.9em;
    box-shadow: 0 0 20px 0 #FFF;
  }
  .downloadIcon {
    width: 24px;
    height: 22px;
  }
}
@media screen and (min-width: 360px) {
  .backImg {
    top: -16em;
    left: 2.5em;
    width: 1.4em;
  }
}
@media screen and (min-width: 375px) {
  .btnImg {
    width: 14em;
    margin-right: 4.2em;
    margin-top: 6em;
  }
}
@media screen and (min-width: 412px) {
  .backImg {
    top: -18em;
    left: 2.7em;
    width: 1.6em;
  }
}
@media screen and (min-width: 414px) {
  .backImg {
    top: -18em;
    left: 2.7em;
    width: 1.6em;
  }
}
