@import 'base';

#app {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #8C8A8C, #FFFFFF)
}

.title {
  padding-top: 7.2em;
  padding-left: 4.1em;
}

.titleImg {
  width: 7em;
}

.content {
  padding-left: 4.1em;
  margin-top: 3em;
}

.contentImg {
  width: 11em;
}

.headerImg {
  width: 2.5em;
  margin-left: 6em;
  margin-top: -7em;
}

.footer {
  text-align: right;
}

@media screen and (min-width: 320px) {
  .titleImg {
    width: 9em;
  }

  .contentImg {
    width: 13em;
  }

  .headerImg {
    width: 3em;
    margin-left: 8em;
    margin-top: -9em;
  }

  .btnImg {
    width: 12em;
    margin-right: 3em;
    margin-top: 4em;
  }
}

@media screen and (min-width: 360px) {
  .titleImg {
    width: 11em;
  }

  .contentImg {
    width: 15em;
  }

  .headerImg {
    width: 3.5em;
    margin-left: 10em;
    margin-top: -11em;
  }

  .btnImg {
    width: 14em;
    margin-right: 4.2em;
    margin-top: 4em;
  }
}

@media screen and (min-width: 375px) {
  .btnImg {
    width: 14em;
    margin-right: 4.2em;
    margin-top: 6em;
  }
}

@media screen and (min-width: 412px) {
  .titleImg {
    width: 13em;
  }

  .contentImg {
    width: 17em;
  }

  .headerImg {
    width: 4em;
    margin-left: 12em;
    margin-top: -13em;
  }

  .btnImg {
    width: 16em;
    margin-right: 3.8em;
    margin-top: -1em;
  }
}

@media screen and (min-width: 414px) {
  .titleImg {
    width: 13em;
  }

  .contentImg {
    width: 17em;
  }

  .headerImg {
    width: 4em;
    margin-left: 12em;
    margin-top: -13em;
  }

  .btnImg {
    width: 16em;
    margin-right: 3.8em;
    margin-top: 6em;
  }
}
