@import 'base';

.subRoot {
  background-color: #FFF;
}

#selectScene {
  background-color: #FFF;
}

.headerBg {
  width: 100%;
  text-align: center;
  position: relative;
}

.bgHeaderImg {
  width: 16em;
  margin-top: 1.3em;
}

.backImg {
  position: absolute;
  top: 4em;
  left: 1.9em;
  z-index: 100;
}

.scene {
  margin-top: 1.7em;
}

.tagWoman {
  width: 15em;
}

.tagMan {
  text-align: right;
}

.tagInner {
  text-align: center;
  margin-bottom: 2em;
}

.sceneShow {
  width: 100%;
  text-align: center;
}

.sceneImg {
  width: 90%;
}

.selectFooter {
  margin-top: 3em;
  padding-bottom: 5em;
  width: 100%;
}

.footerImg {
  width: 100%;
}


